.wel{
    height: 210px;
    width: 300px;
    text-align: center;
    margin-left: 700px;
    border: 2px solid white;
    
    color: aliceblue;

}
.wel:hover{
    height: 400px;
    font-size: x-large;
    transition: 2s;
}
.mr{
    height: 40px;
    width: 600px;
    color: white;
    margin-left: 30px;
}
.abc{
    background-color: black;
}